*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(142, 193, 225);
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#pag{
    display: block;
    text-align: center;
    align-items: center;
    height: 100vh;

}