*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(142, 193, 225);
    margin-top: 5px;
}

#pag{
    display: block;
    text-align: center;
    align-items: center;
    height: 100vh;

}