*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(142, 193, 225);
}

#box a{
    display: block;
    margin: 25px;
}
#box h1{
    margin-top: 20px;
}

#box{
    text-align: center;
}

#box button{
    width: 250px;
    overflow: hidden;
}
