*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(142, 193, 225);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#box a{
    display: block;
    margin: 25px;
}
#box h1{
    margin-top: 20px;
}

#box{
    text-align: center;
}

#box button{
    width: 250px;
    overflow: hidden;
}
#box input{
    width: 250px;
    overflow: hidden;
}
